.navbar {
  background-color: teal;
  color: white;

  &__container {
    padding-block: .5rem;
  }

  &__logo {
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
  }
}

.content {
  padding-block: 2rem;
}
